<%= form_for(zombi) do |f| %>
  <% if zombi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombi.errors.count, "error") %> prohibited this zombi from being saved:</h2>

      <ul>
      <% zombi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
