<p id="notice"><%= notice %></p>

<h1>Zombis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombis.each do |zombi| %>
      <tr>
        <td><%= zombi.name %></td>
        <td><%= zombi.age %></td>
        <td><%= zombi.email %></td>
        <td><%= zombi.rotten %></td>
        <td><%= link_to 'Show', zombi %></td>
        <td><%= link_to 'Edit', edit_zombi_path(zombi) %></td>
        <td><%= link_to 'Destroy', zombi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zombi', new_zombi_path %>
