<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombi.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zombi.age %>
</p>

<%= link_to 'Edit', edit_zombi_path(@zombi) %> |
<%= link_to 'Back', zombis_path %>
